---
import { type CollectionEntry, getEntry } from "astro:content";

type Props = {
  course: CollectionEntry<"course">;
};

const { course } = Astro.props;

const term = await getEntry("term", course.data["term._ref"].id);
---

<div
  class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex justify-between">
    <svg
      class=`w-6 h-6 ${ term.data.isActive ? 'text-green-800':''}
    dark:text-white`
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 18"
    >
      <path
        d="M9 1.334C7.06.594 1.646-.84.293.653a1.158 1.158 0 0 0-.293.77v13.973c0 .193.046.383.134.55.088.167.214.306.366.403a.932.932 0 0 0 .5.147c.176 0 .348-.05.5-.147 1.059-.32 6.265.851 7.5 1.65V1.334ZM19.707.653C18.353-.84 12.94.593 11 1.333V18c1.234-.799 6.436-1.968 7.5-1.65a.931.931 0 0 0 .5.147.931.931 0 0 0 .5-.148c.152-.096.279-.235.366-.403.088-.167.134-.357.134-.55V1.423a1.158 1.158 0 0 0-.293-.77Z"
      ></path>
    </svg>
    <p
      class="flex justify-end mb-3 font-normal
    text-sm
    text-green-700 dark:text-green-400"
    >
      Term: {term.data.term_num} ({term.data.name})
    </p>
  </div>
  <h5
    class="mb-2 text-1xl font-semibold tracking-tight text-gray-900 dark:text-white"
  >
    {course.data.code} - {course.data.name}
  </h5>
  <p class="mb-3 font-normal text-gray-800 dark:text-gray-400">
    Sections: {course.data.section}
  </p>
  <div class="flex justify-between">
    <a
      href={course.data.url}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center text-blue-600 hover:underline"
    >
      See Course Page
      <svg
        class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
        ></path>
      </svg>
      {
        term.data.isActive ? (
          <a
            href="/classwork/"
            class="hover:bg-blue-100 font-bold py-1 px-2 text-blue-700"
          >
            Classwork
          </a>
        ) : (
          ""
        )
      }
    </a>
  </div>
</div>
